doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Surfing magazine
        link(rel='stylesheet' href='css/reset/reset.css')
        link(rel='stylesheet' href='css/common/common.css')
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/media/media.css' media='all and (max-width:1440px)')
        link(rel='stylesheet' href='css/fonts/fonts.css')
    body
        include ../blocks/01-header/header-pug/header.pug